a.active{
    background-color: white;
    text-decoration: none;
    color: black; 
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: large;
    width: 100px;
    



}
.inactive{
    text-decoration: none;
    color: white; 
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
   font-size: large;
   width: 100px;
}